[Desktop Entry]
Name=Clak Settings
Name[vi]=Cài đặt Clak
GenericName=Input Method Settings
GenericName[vi]=Cài đặt bộ gõ tiếng Việt
Comment=Configure Clak Vietnamese Input Method
Comment[vi]=Cấu hình bộ gõ tiếng Việt Clak
Exec=clak-gui
Icon=org.fcitx.Fcitx5.clak
Terminal=false
Type=Application
StartupWMClass=clak-gui
Categories=Settings;Utility;
Keywords=clak;input;method;vietnamese;telex;vni;ime;fcitx;
Keywords[vi]=clak;cài đặt clak;bộ gõ;tiếng việt;telex;vni;gõ tiếng việt;fcitx5;
